# <%= form_for @album, url:{:controller=>'api/v1/albums_controller', :action=>'new', 'create', 'edit', 'update'}, html:{method:'get','put', 'post', 'patch'} do |f| %>
#   <h2>Album Form</h2>
#   <%= f.label :title %>
#   <%= f.text_field :title %>

#   <%= f.label :artist %>
#   <%= f.text_field :artist %>

#   <%= f.label :genre %>
#   <%= f.text_field :genre %>

#   <%= f.label :year %>
#   <%= f.text_field :year %>

#   <%= f.submit  %>
# <% end %>